.App {
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: rgb(242, 249, 255);
  width: 100vw;
  height: 100vh
}

.text-center {
  text-align: center;
}

.app-wrapper {
  width: 100vw;
  height: 100vh
}

.item-card {
  max-height: 400px;
  overflow: auto;
  width: 45vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  position: absolute;
  left: 16px;
  top: 50px;
  border-top: 0px;
  z-index: 1;
}

.item-card-wrapper {
  display: flex;
  border-bottom: 1px solid #d1d1d1;
}

.card-body {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 200px;
}

.user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%
}

.ml-10 {
  margin-left: 10px;
}

.form {
  display: flex;
  justify-content: center;
}


.input-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 15px;
  width: 45vw;
  background-color: black;
  z-index: 1;
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: transparent;
  z-index: 3;
}

.input-text:focus-visible {
  border: 0 !important;
  outline: none !important;
}

.text-decoration-none {
  text-decoration: none;
}

.text-color {
  color: #a1a1a1;
  ;
}

.loader {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.position-relative {
  position: relative !important;
}

.title {
  font-size: 60px;
}

.github-logo {
  width: 80px;
  height: 45px;
  margin: 0;
  vertical-align: middle;
}

.tagline {
  margin: 20px 0 0 0;
  font-size: 20px;
  color: #444;
}

.links {
  font-size: 16px;
  color: #999;
}

.hint-text {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 25px;
  left: 26px;
  z-index: 1;
  margin-left: 0px;
  color: #000000;
  opacity: 0.5;
}

.bg-white {
  background-color: white;
}

.border-radius-10 {
  border-radius: 10px;
}

.name {
  font-size: 22px;
}
.name-bold {
  margin-left: 25px;
  font-size: 22px;
}

.align-items-center {
  align-items: center !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important;
}

.bg-white {
  background-color: #fff;
}

.justify-content-center {
  justify-content: center !important;
}

.text-black {
  color: #000000 !important;
}

.text-grey {
  color: #777!important;
}
.text-dark-grey {
  color: #444!important;
}

.text-black-bold{
  color: #000000;
  font-weight: 600;
}
.text-danger{
  color:red;
}